@import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";

body {
    padding-top: 70px;
    background: url(http://subtlepatterns.com/patterns/scribble_light.png);
}

img{
    padding-left: : 100px;
    padding-bottom:  50px;
}

textarea {
  width: 1000px;
  height: 100px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}

/*textarea{
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
*/}


textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

#main-text {
    height: 100px;
}
#quest-box {
    margin: 60px auto;
}

#quest-image {
    overflow: scroll;
    height: 500px;
}

#wrapper {
    width: 90%;
    max-width: 900px;
    /*min-width: 800px;*/
    margin: 50px auto;
}

#columns {
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 15px;
    column-fill: auto;
}

#wrapper1 {
    width: 90%;
    max-width: 900px;
    /*min-width: 800px;*/
    margin: 50px auto;
}

#columns1 {
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 15px;
    column-fill: auto;
}

.pin {
    display: inline-block;
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 15px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;
    
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.pin img {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.pin p {
    font: 12px/18px Arial, sans-serif;
    color: #333;
    margin: 0;
}

@media (min-width: 960px) {
    #columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 1100px) {
    #columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

#columns:hover .pin:not(:hover) {
    opacity: 0.4;
}

.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}

.overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.85);
    z-index:9999;
    color:white;
    display: none;
/*    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right:10px;
*/}

[class*='close-'] {
  color: #777;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
}

.close-thik:after {
  content: 'Close'; /* UTF-8 symbol */
  cursor: pointer;
  font-size: 20px;
  font-style: cursive;
}

#sign-image {
    position: relative;
    margin-top: 100px;
    margin-left: 20px;
}

#rem-image {
    margin-top: 100px;
}
#sign-image .pin img {
    height: auto;
    width: 340px;
}

#reco-caption {
    font-size: 20px;
    font-family: cursive;
    margin-left: 20px;
}

.helptext {
    display: none;
}

.right {
    float: right;
}

.btn-file {
    height: 35px;
}
#btn-file1 {
    background-color: inherit;
    border-color: transparent;
}
.btn-file input[type=file] {
 /*   position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
 */   text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    height:30px;
}
#upload-btn {
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-left: 100px;
    width:20px;
    height: 20px;
}
#hspace {
    height: 20px;
}