{% extends "lookingglass_app/base.html" %}
{% block content %}

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                </button>
                <a class="navbar-brand" href="#">Advanced Internet Computing Project</a>
            </div>
            
        </div>
    </nav>

    <div class="container">
        <div id = "quest-header" class="col-lg-12 text-center">
                <h1>The Looking Glass</h1>
                <p class="lead">We bring pictures into your life!</p>
        </div>    
    </div>
    <div id = "quest-container" class="container">
            
            	<div id = "quest-box" class="col-lg-12 text-center jumbotron">
    				<form id="quest-form" action="/" method="post">

                    <label for="inputlg">Copy your text here!</label>
    				<!-- <input id="main-text" name="text_to_send" class="form-control input-lg" type="text" placeholder="Your words here..."></input> -->
                    <textarea placeholder="Your words here..."  name="text_to_send" id="main_text" cols="40" class="form-control" role="textbox" aria-autocomplete="list" aria-haspopup="true"></textarea>
    				<p></p>
    				
    				<input type="submit" id="btn" class=" btn btn-info" value="Show Pictures!" />
				    </form>
                </div> 
        
            {% include "lookingglass_app/search_results.html" %}        
    </div>
               

        
{% endblock %}
